@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

input, select, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::placeholder {
  color: #9ca3af;
}

/* Fix for input background and text color */
input, select {
  color: #111827;
  background-color: #ffffff;
}

/* Remove dark mode styles */
@media (prefers-color-scheme: dark) {
  input, select, button {
    color-scheme: light;
  }
  
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
